<%- include('./header.ejs')  %>
<section class="cmspage mtb-40">
  <div class="container">
    <h1>About</h1>
    <div class="page-desc">
      <p><%= a.about %></p>
    </div>
  </div>
</section>
<br><br><br><br>
<%- include('./footer.ejs')  %>